<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <title>Sportdiary</title>
    </head>
    <body>
        <div>
            <h1><a href="/">DjangoGirlsBlog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{post.published_date}}</p>
                <h2><a href="">{{post.title}}</a></h2>
                <p>{{post.text|linebreaksbr}}
            </div>
        {% endfor %}
        </div>
    </body>
</html>