{% extends 'blog/base.html' %}
{% load  static %}

{% block content %}
{% for post in posts %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}

    <div>
        <h2>{{ post.title }}</h2>
        <p>Sport_Type: <em>{{ post.sportart }}</em></p>
        <p>Location: <em>{{ post.location }}</em></p>
        <p>Duration: <em>{{ post.duration }}</em></p>
        <p>Length: <em>{{ post.length }}</em></p>
        <img src="{{ post.image.url}}" alt="{{ post.title }}">
        <h3>{{ post.text|linebreaksbr }}</h3>
    </div>

{% endfor %}
{% endblock %}
